In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

pd.options.mode.chained_assignment = None

%run Functions.ipynb

In [2]:
pd.read_csv('data/CONTEST_DATA_MIN_SP_1.csv', header = None)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0,4000,1042.660,1042.660,1032.380,1042.170,49862,5.165639e+07,1042.0722,233,...,1043.2470,0,1043.2470,0,1043.2470,0,1043.2470,0,1043.2470,0
1,0,4001,98.757,98.986,98.586,98.586,1882,1.862564e+05,98.4830,5648,...,98.8034,9413,98.8262,20710,98.8720,18827,98.8948,193921,98.8948,0
2,0,4002,67.521,67.596,66.660,66.660,29214,1.953638e+06,66.5178,14607,...,66.9220,0,66.9220,0,66.9220,0,66.9220,0,66.9220,0
3,0,4003,22.668,22.668,22.510,22.668,125336,2.828033e+06,22.6554,25770,...,22.7568,11713,22.7946,93709,22.7946,0,22.7946,0,22.7946,0
4,0,4004,395.339,399.928,394.489,399.928,555456,2.206788e+08,399.8940,26003,...,400.3020,15890,400.3700,18057,400.4380,67897,400.5058,16613,400.5738,5056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559995,3119,4495,1448.533,1449.497,1448.533,1449.497,90586,1.312322e+08,1449.2080,9446,...,1450.3640,32725,1450.5568,43353,1450.7494,1180,1450.9422,17206,1451.1348,168
1559996,3119,4496,16.070,16.070,16.070,16.070,55148,8.855915e+05,16.0606,137870,...,16.1732,179231,16.1918,623862,16.2106,930623,16.2294,144763,16.2294,0
1559997,3119,4497,510.302,511.160,510.302,510.817,39802,2.034112e+07,510.6796,20343,...,511.0914,111448,511.1600,115870,511.2286,138868,511.2972,155673,511.3658,262699
1559998,3119,4498,107.099,107.252,107.022,107.099,85911,9.196869e+06,107.0836,7041,...,107.3904,938,107.3904,0,107.3904,0,107.3904,0,107.3904,0
1559999,3119,4499,108.261,108.387,108.134,108.134,24642,2.663359e+06,108.1086,3520,...,108.4636,31683,108.5142,3520,108.5650,3520,108.6158,56325,108.6664,14081

In [3]:
'''
训练数据
500 stocks
3120 ticks = 13 trading days (240 ticks per day)
'''

data = pd.read_csv('data/CONTEST_DATA_MIN_SP_1.csv', header = None)
data.rename(columns={0:'tick', 1:'stock', 2:'open', 3:'high', 
                     4:'low', 5:'close', 6:'volume', 7:'tvr', 
                     8:'bid1_price', 9:'bid1_volume', 10:'bid2_price', 11:'bid2_volume', 
                     12:'bid3_price', 13:'bid3_volume', 14:'bid4_price', 15:'bid4_volume', 
                     16:'bid5_price', 17:'bid5_volume', 18:'bid6_price', 19:'bid6_volume', 
                     20:'bid7_price', 21:'bid7_volume', 22:'bid8_price', 23:'bid8_volume', 
                     24:'bid9_price', 25:'bid9_volume', 26:'bid10_price', 27:'bid10_volume', 
                     28:'ask1_price', 29:'ask1_volume', 30:'ask2_price', 31:'ask2_volume', 
                     32:'ask3_price', 33:'ask3_volume', 34:'ask4_price', 35:'ask4_volume', 
                     36:'ask5_price', 37:'ask5_volume', 38:'ask6_price', 39:'ask6_volume', 
                     40:'ask7_price', 41:'ask7_volume', 42:'ask8_price', 43:'ask8_volume', 
                     44:'ask9_price', 45:'ask9_volume', 46:'ask10_price', 47:'ask10_volume'}, inplace=True)

data['return'] = data[['stock', 'close']].groupby('stock').transform(lambda x: abs2percB(x.values, 1))
# for i in range(1, 10+1):
#     data['obj' + str(i)] = data[['stock', 'close']].groupby('stock') \
#         .transform(lambda x: laggingF(abs2percF(x.values, i), 1))
data['obj10'] = data[['stock', 'close']].groupby('stock') \
    .transform(lambda x: laggingF(abs2percF(x.values, 10), 1))
data['obj5'] = data[['stock', 'close']].groupby('stock') \
    .transform(lambda x: laggingF(abs2percF(x.values, 5), 1))

In [4]:
data

,tick,stock,open,high,low,close,volume,tvr,bid1_price,bid1_volume,...,ask7_volume,ask8_price,ask8_volume,ask9_price,ask9_volume,ask10_price,ask10_volume,return,obj10,obj5
0,0,4000,1042.660,1042.660,1032.380,1042.170,49862,5.165639e+07,1042.0722,233,...,0,1043.2470,0,1043.2470,0,1043.2470,0,NaN,-0.029094,-0.027217
1,0,4001,98.757,98.986,98.586,98.586,1882,1.862564e+05,98.4830,5648,...,20710,98.8720,18827,98.8948,193921,98.8948,0,NaN,-0.000579,-0.000579
2,0,4002,67.521,67.596,66.660,66.660,29214,1.953638e+06,66.5178,14607,...,0,66.9220,0,66.9220,0,66.9220,0,NaN,0.000568,0.000568
3,0,4003,22.668,22.668,22.510,22.668,125336,2.828033e+06,22.6554,25770,...,93709,22.7946,0,22.7946,0,22.7946,0,NaN,0.004150,-0.001398
4,0,4004,395.339,399.928,394.489,399.928,555456,2.206788e+08,399.8940,26003,...,18057,400.4380,67897,400.5058,16613,400.5738,5056,NaN,-0.006736,-0.002527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559995,3119,4495,1448.533,1449.497,1448.533,1449.497,90586,1.312322e+08,1449.2080,9446,...,43353,1450.7494,1180,1450.9422,17206,1451.1348,168,0.000666,NaN,NaN
1559996,3119,4496,16.070,16.070,16.070,16.070,55148,8.855915e+05,16.0606,137870,...,623862,16.2106,930623,16.2294,144763,16.2294,0,0.000000,NaN,NaN
1559997,3119,4497,510.302,511.160,510.302,510.817,39802,2.034112e+07,510.6796,20343,...,115870,511.2286,138868,511.2972,155673,511.3658,262699,0.001009,NaN,NaN
1559998,3119,4498,107.099,107.252,107.022,107.099,85911,9.196869e+06,107.0836,7041,...,0,107.3904,0,107.3904,0,107.3904,0,0.000000,NaN,NaN
1559999,3119,4499,108.261,108.387,108.134,108.134,24642,2.663359e+06,108.1086,3520,...,3520,108.5650,3520,108.6158,56325,108.6664,14081,-0.001173,NaN,NaN

In [5]:
def basicFac(data):
    
    intermediate = pd.DataFrame(index = data.index)
    
    # SOIR
    for i in range(1,10+1):
        data['SOIR'+str(i)] = (data['bid'+str(i)+'_volume']-data['ask'+str(i)+'_volume'])/(data['bid'+str(i)+'_volume']+data['ask'+str(i)+'_volume'])
        data['SOIR'+str(i)] = data['SOIR'+str(i)].fillna(0)
    
    '''
    data['SOIR']=np.zeros(len(data))
    for i in range(1,n+1):
        data['SOIR']=data['SOIR']+data['SOIR'+str(i)]*(n-i)
    data['SOIR']=data['SOIR']/((n)*(n-1)/2)
    '''
    
    # MPC
    intermediate['Mt']=(data['bid1_price']+data['ask1_price'])/2
    for i in range(1,10+1):
        data['MPC'+str(i)] = data[['stock']].join(intermediate['Mt']) \
            .groupby('stock').transform(lambda x: abs2percB(x.values, i))
    
    '''
    # culmulative SOIR
    n = 10
    cul_minus=np.zeros(len(data))
    cul_plus=np.zeros(len(data))
    for i in range(1,n+1):
        cul_minus=cul_minus+data['bid'+str(i)+'_volume']-data['ask'+str(i)+'_volume']
        cul_plus=cul_plus+data['bid'+str(i)+'_volume']+data['ask'+str(i)+'_volume']
        data['culSOIR'+str(i)] = cul_minus/cul_plus
    '''
    
    '''
    # OFI
    for i in range(1,5+1):
        intermediate['bid'+str(i)+'_volume-1']=data[['stock', 'bid'+str(i)+'_volume']].groupby('stock').transform(lambda x: laggingB(x.values, 1))
        intermediate['ask'+str(i)+'_volume-1']=data[['stock', 'ask'+str(i)+'_volume']].groupby('stock').transform(lambda x: laggingB(x.values, 1))
        intermediate['bid'+str(i)+'_price-1']=data[['stock', 'bid'+str(i)+'_price']].groupby('stock').transform(lambda x: laggingB(x.values, 1))
        intermediate['ask'+str(i)+'_price-1']=data[['stock', 'ask'+str(i)+'_price']].groupby('stock').transform(lambda x: laggingB(x.values, 1))
        intermediate['deltavb']=(intermediate['bid'+str(i)+'_price-1']>data['bid'+str(i)+'_price'])*(-intermediate['bid'+str(i)+'_volume-1'])+(intermediate['bid'+str(i)+'_price-1']==data['bid'+str(i)+'_price'])*(data['bid'+str(i)+'_volume']-intermediate['bid'+str(i)+'_volume-1'])+(intermediate['bid'+str(i)+'_price-1']<data['bid'+str(i)+'_price'])*(data['bid'+str(i)+'_volume'])
        intermediate['deltava']=(intermediate['ask'+str(i)+'_price-1']>data['ask'+str(i)+'_price'])*(data['ask'+str(i)+'_volume'])+(intermediate['ask'+str(i)+'_price-1']==data['ask'+str(i)+'_price'])*(data['ask'+str(i)+'_volume']-intermediate['ask'+str(i)+'_volume-1'])+(intermediate['ask'+str(i)+'_price-1']<data['ask'+str(i)+'_price'])*(-intermediate['ask'+str(i)+'_volume-1'])
        data['OFI'+str(i)]=intermediate['deltavb']-intermediate['deltava']
    '''

    '''
    data['MOFI']=np.zeros(len(data))
    for i in range(1,n+1):
        data['MOFI']=data['MOFI']+data['OFI'+str(i)]*i
    data['MOFI']=data['MOFI']/((n)*(n-1)/2)
    '''
    
    '''
    # MA
    intermediate['MA5'] = data[['stock', 'close']].groupby('stock').transform(lambda x : x.rolling(5).mean())
    intermediate['MA10'] = data[['stock', 'close']].groupby('stock').transform(lambda x : x.rolling(5).mean())
    intermediate['MA20'] = data[['stock', 'close']].groupby('stock').transform(lambda x : x.rolling(5).mean())
    
    # PRICE/MA
    data['MAprice5'] = (data['close']-intermediate['MA5'])/data['close']
    data['MAprice10'] = (data['close']-intermediate['MA10'])/data['close']
    data['MAprice20'] = (data['close']-intermediate['MA20'])/data['close']
    '''

    # momentum
    '''
    data['momentum1'] = data[['stock', 'close']].groupby('stock').transform(lambda x: abs2percB(x.values, 1))
    data['momentum2'] = data[['stock', 'close']].groupby('stock').transform(lambda x: abs2percB(x.values, 2))
    '''
    data['momentum5'] = data[['stock', 'close']].groupby('stock').transform(lambda x: abs2percB(x.values, 5))
    data['momentum10'] = data[['stock', 'close']].groupby('stock').transform(lambda x: abs2percB(x.values, 10))
    data['momentum20'] = data[['stock', 'close']].groupby('stock').transform(lambda x: abs2percB(x.values, 20))
    
    '''
    # trendstrength   
    intermediate['close5']=data[['stock', 'close']].groupby('stock').transform(lambda x: laggingB(x.values, 5))
    intermediate['close10']=data[['stock', 'close']].groupby('stock').transform(lambda x: laggingB(x.values, 10))
    intermediate['close20']=data[['stock', 'close']].groupby('stock').transform(lambda x: laggingB(x.values, 20))
    intermediate['deltaclose']=(data['close']-data[['stock', 'close']].groupby('stock').transform(lambda x: laggingB(x.values, 1))['close']).abs()
    data['trendstrength5'] = ((data['close']-intermediate['close5'])/data[['stock']].join(intermediate['deltaclose']).groupby('stock') \
                                      .transform(lambda x : x.rolling(5).sum())['deltaclose']).fillna(0)
    data['trendstrength10'] = ((data['close']-intermediate['close10'])/data[['stock']].join(intermediate['deltaclose']).groupby('stock') \
                                      .transform(lambda x : x.rolling(10).sum())['deltaclose']).fillna(0)
    data['trendstrength20'] = ((data['close']-intermediate['close20'])/data[['stock']].join(intermediate['deltaclose']).groupby('stock') \
                                      .transform(lambda x : x.rolling(20).sum())['deltaclose']).fillna(0)
    '''
    
    '''
    # volatility
    data['volatility5t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(5).std()
    data['volatility10t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(10).std())
    data['volatility20t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(20).std())
    '''

    '''
    # returnskew
    data['rskew5t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(5).skew())
    data['rskew10t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(10).skew())
    data['rskew20t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(20).skew())

    # returnkurt
    data['rkurtosis5t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(5).kurt())
    data['rkurtosis10t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(10).kurt())
    data['rkurtosis20t'] = data[['stock', 'return']].groupby('stock').transform(lambda x : x.rolling(20).kurt())
    '''
    
    '''
    # volume
    intermediate['volume5t'] = data[['stock', 'volume']].groupby('stock').transform(lambda x : x.rolling(5).mean())
    data['volume_perc5'] = data[['stock']].join(intermediate['volume5t']).groupby('stock').transform(lambda x: abs2percB(x.values, 1))
    intermediate['volume10t'] = data[['stock', 'volume']].groupby('stock').transform(lambda x : x.rolling(10).mean())
    data['volume_perc10'] = data[['stock']].join(intermediate['volume10t']).groupby('stock').transform(lambda x: abs2percB(x.values, 1)).fillna(0)
    intermediate['volume20t'] = data[['stock', 'volume']].groupby('stock').transform(lambda x : x.rolling(20).mean())
    data['volume_perc20'] = data[['stock']].join(intermediate['volume20t']).groupby('stock').transform(lambda x: abs2percB(x.values, 1))
    '''

    '''
    <未实现>
    data.groupby('stock')[['volume','close']].rolling(5).corr()
    data['corrPV5t'] = data[['stock', 'volume','close']].groupby('stock').transform(lambda x : x['volume'].rolling(5).corr(x['close']))
    '''
    
    return data

In [6]:
t = time.time()
basic = basicFac(data)
print(time.time() - t)

19.06421685218811

In [12]:
basic.columns

Index(['tick', 'stock', 'open', 'high', 'low', 'close', 'volume', 'tvr',
       'bid1_price', 'bid1_volume', 'bid2_price', 'bid2_volume', 'bid3_price',
       'bid3_volume', 'bid4_price', 'bid4_volume', 'bid5_price', 'bid5_volume',
       'bid6_price', 'bid6_volume', 'bid7_price', 'bid7_volume', 'bid8_price',
       'bid8_volume', 'bid9_price', 'bid9_volume', 'bid10_price',
       'bid10_volume', 'ask1_price', 'ask1_volume', 'ask2_price',
       'ask2_volume', 'ask3_price', 'ask3_volume', 'ask4_price', 'ask4_volume',
       'ask5_price', 'ask5_volume', 'ask6_price', 'ask6_volume', 'ask7_price',
       'ask7_volume', 'ask8_price', 'ask8_volume', 'ask9_price', 'ask9_volume',
       'ask10_price', 'ask10_volume', 'return', 'obj10', 'obj5', 'SOIR1',
       'SOIR2', 'SOIR3', 'SOIR4', 'SOIR5', 'SOIR6', 'SOIR7', 'SOIR8', 'SOIR9',
       'SOIR10', 'MPC1', 'MPC2', 'MPC3', 'MPC4', 'MPC5', 'MPC6', 'MPC7',
       'MPC8', 'MPC9', 'MPC10', 'momentum5', 'momentum10', 'momentum20'],
      dtype='object')

In [16]:
basic[['tick', 'stock']].join(basic['close']).join(basic.loc[:, 'SOIR1':'momentum20']).to_csv('data/alphas23.csv')

In [8]:
basic.to_csv('data/alphasbasic.csv')